{% extends 'reglements/reglements-subnav.html.twig' %}


{% block title %}
    Application d'un règlement à un cursus
{% endblock %}

{% block content %}

<p>Application du règlement {{reglement.label}} sur le cursus {{cursus.label}}</p>




{% endblock %}
