{% extends 'reglements/reglements-subnav.html.twig' %}

{% block title %}
    Règlements - Importation
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Importation de règlement</h1>
        <h1 class="display-1"><i class="fa fa-cloud-upload" aria-hidden="true"></i></h1>
        <p>Importer un fichier .csv contenant le règlement.</p>

        <input type="file" name="file" id="file" class="inputfile" />
        <label for="file"><button class="btn btn-sm btn-outline-success">Choisir un fichier</button></label>
    </div>
{% endblock %}