{% extends 'base.html.twig' %}

{% block title %}
    Index
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Hello !</h1>
        <hr class="jumbotron-hr">
        <p class="lead">
          I think it's working !
        </p>
    </div>
{% endblock %}
