{% extends 'base.html.twig' %}

{% block title %}
    Mes Cursus
{% endblock %}

{% block body %}
    <ul class="sub-nav">
        <a class="sub-nav-item active" href="#">Mes cursus</a>
        <a class="sub-nav-item" href="#">Nouveau cursus</a>
        <a class="sub-nav-item" href="#">Importer</a>
        <a class="sub-nav-item" href="#">Exporter</a>
    </ul>
{% endblock %}
