{% extends 'base.html.twig' %}

{% block body %}

    <!-- L'opérateur ternaire ajoute la classe 'active' à l'item s'il sagit de la page courante -->
    <ul class="sub-nav">
        <a class="sub-nav-item {{ subnav == 'mes-cursus' ? 'active' : '' }}" href="/cursus/mes-cursus/">Mes
            cursus</a>
        <a class="sub-nav-item {{ subnav == 'new' ? 'active' : '' }}" href="/cursus/new/">Nouveau cursus</a>
        <a class="sub-nav-item {{ subnav == 'import' ? 'active' : '' }}" href="/cursus/import/">Importer</a>
        <a class="sub-nav-item {{ subnav == 'export' ? 'active' : '' }}" href="/cursus/export/">Exporter</a>
    </ul>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


{% endblock %}