{% extends 'cursus/cursus-subnav.html.twig' %}

{% block title %}
    Cursus - Export
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>Cursus</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for oneCursus in cursus %}
            <tr>
                <td>{{ oneCursus.label|e }}</td>
                <td class="grey"></td>
                <td class="grey"> </td>
                <td>
                    <a href="/cursus/export/{{ oneCursus.id }}" class="btn btn-secondary btn-sm"><i class="fa
                    fa-arrow-circle-o-right"
                                                                    aria-hidden="true"></i> Exporter</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock %}