{% extends 'cursus/cursus-subnav.html.twig' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Cursus</th>
            <th></th>
            <th></th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for oneCursus in cursus %}
            <tr>
                <td>{{ oneCursus.label }}</td>
                <td>{{ oneCursus.student }}</td>
                <td><span class="badge badge-default">{{ oneCursus.nbElements }} éléments</span></td>
                <td>
                    <a href="#" class="btn btn-secondary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i> Voir</a>
                    <a href="#" class="btn btn-secondary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier</a>
                    <a href="#" class="btn btn-secondary btn-sm"><i class="fa fa-files-o" aria-hidden="true"></i> Dupliquer</a>
                    <a href="#" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}