{% extends 'cursus/cursus-subnav.html.twig' %}
{% form_theme form 'form/bootstrap_4_horizontal_layout.html.twig' %}
{% block title %}
  Nouveau cursus
{% endblock %}

{% block content %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <input type="submit" class="btn btn-sm btn-outline-success" value="Créer le cursus">
            </div>
        </div>
    {{ form_end(form) }}




{% endblock %}
