{% extends 'cursus/cursus-subnav.html.twig' %}

{% block title %}
    Mes cursus
{% endblock %}

{% block content %}
    <h1>{{ cursus.label }}</h1>
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>Semestre</th>
            <th>Label</th>
            <th>Catégorie</th>
            <th>Affectation</th>
            <th>UTT</th>
            <th>Profil</th>
            <th>Crédits</th>
            <th>Resultat</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ISI1</td>
            <td>LO02</td>
            <td>TM</td>
            <td>TCBR</td>
            <td>Oui</td>
            <td>Oui</td>
            <td>6</td>
            <td>A</td>
        </tr><tr>
            <td>ISI1</td>
            <td>NF20</td>
            <td>CS</td>
            <td>TCBR</td>
            <td>Oui</td>
            <td>Oui</td>
            <td>6</td>
            <td>C</td>
        </tr>
        </tbody>
    </table>




{% endblock %}
