{% extends 'cursus/cursus-subnav.html.twig' %}

{% block title %}
    Mes cursus
{% endblock %}

{% block content %}
    <h4>{{ cursus.label }}</h4>
    <h6 class="grey">Corentin Laithier - 36795</h6>

    {#Todo : Utiliser {{ cursusElement }} quand les cursus seront 'remplis' #}

    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>Semestre</th>
            <th>Label</th>
            <th>Catégorie</th>
            <th>Affectation</th>
            <th>UTT</th>
            <th>Profil</th>
            <th>Crédits</th>
            <th>Résultat</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>TC2</td>
            <td>GE21</td>
            <td>ME</td>
            <td>TC</td>
            <td>Oui</td>
            <td>Oui</td>
            <td>4</td>
            <td class="note-UE"><span class="badge badge-pill badge-warning">E</span></td>
        </tr>
        <tr>
            <td>ISI1</td>
            <td>LO02</td>
            <td>TM</td>
            <td>TCBR</td>
            <td>Oui</td>
            <td>Oui</td>
            <td>6</td>
            <td class="note-UE"><span class="badge badge-pill badge-success">A</span></td>
        </tr>
        <tr>
            <td>ISI1</td>
            <td>NF20</td>
            <td>CS</td>
            <td>TCBR</td>
            <td>Oui</td>
            <td>Oui</td>
            <td>6</td>
            <td class="note-UE"><span class="badge badge-pill badge-success">C</span></td>
        </tr>
        <tr>
            <td>ISI1</td>
            <td>EV02</td>
            <td>CT</td>
            <td>TCBR</td>
            <td>Oui</td>
            <td>Oui</td>
            <td>4</td>
            <td class="note-UE"><span class="badge badge-pill badge-danger">Fx</span></td>
        </tr>
        </tbody>
    </table>




{% endblock %}
