{% extends 'cursus/cursus-subnav.html.twig' %}

{% block title %}
    Mes cursus
{% endblock %}

{% block content %}
    <h1>{{ cursus.label }}</h1>
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>Sigle</th>
            <th>Label</th>
            <th>Info</th>
            <th>Info</th>
            <th>Info</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>




{% endblock %}
