{% extends 'cursus/cursus-subnav.html.twig' %}

{% block title %}
    Mes cursus
{% endblock %}

{% block content %}
    <h4>{{ cursus.label }}</h4>
    <h6 class="grey">Corentin Laithier - 36795</h6>
    {% if cursusElements is defined %}
        {% set previousSemSeq = 0 %}
        {% for element in cursus.elementsFormations %}
            {% set semSeq = element.semSeq %}
            {% if semSeq == previousSemSeq %}
                {% include('cursus/table-cursus-view.html.twig') %}
                {% set previousSemSeq = semSeq %}
            {% else %}
                </tbody>
                </table>
                <table class="table mb-5">
                <thead class="thead-default">
                <tr>
                    <th>Semestre</th>
                    <th>Label</th>
                    <th>Catégorie</th>
                    <th>Affectation</th>
                    <th>UTT</th>
                    <th>Profil</th>
                    <th>Crédits</th>
                    <th>Résultat</th>
                </tr>
                </thead>
                <tbody>
                {% include('cursus/table-cursus-view.html.twig') %}
                {% set previousSemSeq = semSeq %}
            {% endif %}
        {% endfor %}
        </tbody>
    {% endif %}
    </table>



{% endblock %}

