/*
 * Base structure
 */

 /*auto complete */
 
 .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
 .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
 .autocomplete-selected { background: #F0F0F0; }
 .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
 .autocomplete-group { padding: 2px 5px; }
 .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
/*
 * Typography
 */


h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */
/*.sidebar input{

  background-color:rgba(0,0,0,0) !important;
  border:none !important;

}*/

#main_content .nav-tabs {
  border-bottom: none;
}
#main_content .nav-tabs .nav-link:after {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* height: 100%; */
    /* width: 0; */
    /* z-index: 1; */
    /* background-color: #2a2a2a; */
    /* -webkit-transition: all .3s; */
    /* transition: all .3s; */
    /* opacity: .5; */
}

#main_content .nav-tabs .nav-link.active  {
    /* color: #464a4c; */
    /* background-color: #fff; */
    /* border-color: #ddd #ddd #fff; */
    /*border-left-color: rgba(51,51,51,1);*/
    background-color: rgba(51,51,51,1);
    border-color: rgba(51,51,51,1);
}

#main_content .nav-tabs .nav-link  {
    /* color: #464a4c; */
    /* background-color: #fff; */
    /* border-color: #ddd #ddd #fff; */
    /*border-left-color: rgba(51,51,51,1);*/
    background-color: #222;
    border-color: rgba(51,51,51,1);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #464a4c;
    /* background-color: #fff; */
    /* border-color: #ddd #ddd #fff; */
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
background-color: #222 ;
}


/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
