.table .thead .th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}

.table .td, .table .th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

.th {
    text-align: left;
    font-weight: bold;
}

/*
.td, .th {
    display: table-cell;
    vertical-align: inherit;
}
*/

.table .td {
    vertical-align: inherit;
    font-size: .9em;
    border-top: 1px solid #e2e2e2;
}
.table .td, .table .th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}
.table input, select, textarea {
    line-height: inherit;
    width: 100%;
}

.nav-tabs input{
    display: inline-block;
    width:auto
}
