/*
.nav-tabs > li > span {
           display: none;
           cursor: pointer;
           position: absolute;
           color: red;
       }
*/


       .fa-times:hover {
         	color: white;
          background-color: red;
}


#main_content .active, #main_content .active a.nav-link {
  color : white;
  border-color: #428bca;
  background-color: #428bca;

}




/* remove border radius for the tab */

#main_content .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#main_content .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}
