/* STYLE.CSS
 * =========
 *
 * EasyCursus, projet LO07
 * Allan Elleuch, Corentin Laithier
 *
 */



/* Barre de navigation principale
 * ==============================
 */
.bg-custom {
    background-color: #f5f5f5 !important;
}

.navbar {
    padding-bottom: 0;
}

/*.main-nav{*/
    /*text-align: center;*/
    /*padding: .8em;*/
    /*margin-bottom: 0;*/
    /*background-color: #f5f5f5;*/
/*}*/

.nav-item{
    padding-left: .5em;
    padding-right: .5em;
    margin-left: .5em;
    margin-right: .5em;
    border-bottom: 2px solid transparent;
    color: #777;
}

.my-nav-item:hover{
    border-bottom: 2px solid rgb(193, 193, 193);
    text-decoration: none;
    color: #000;
}
.my-nav-item.active{
    border-bottom: 2px solid #5cb85c;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}






/* Barre de navigation secondaire
 * ==============================
 */
.sub-nav{
    display: block;
    text-align: center;
    padding: .8em;
    font-size: 0.9em;
    background-color: #ebebeb;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
}
.sub-nav-item{
    padding-bottom: .9em;
    padding-left: .9em;
    padding-right: .9em;
    color: #777;
}
.sub-nav-item:hover{
    /*border-bottom: 2px solid rgb(193, 193, 193);*/
    text-decoration: none;
    color: black;
}
.sub-nav-item.active{
    /*border-bottom: 2px solid #5cb85c;*/
    text-decoration: none;
    color: #5cb85c;
    font-weight: 500;
}


/* Tableaux
 * ========
 */
.thead-default th{
    background-color: #fafafa;
    font-weight: 500;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2 !important;
}

.table td{
    font-size: .9em;
    vertical-align: inherit;
    border-top: 1px solid #e2e2e2;
}

.grey{
    color: #777;
}

.badge {
    font-size: 100%;
}

.badge-tc{
    color: #000;
    font-weight: 400;
    background-color: #B3E5FC;
}

.badge-tcbr{
    color: #000;
    font-weight: 400;
    background-color: #C8E6C9;
}

.badge-flbr{
    color: #000;
    font-weight: 400;
    background-color: #E1BEE7;
}



/*
 * List customisation
 * ==================
 */
.elemFormation{
    padding: 0;
    list-style-type: none;
}


/*
 * Hide input type file
 */

/*input[type="file"]{*/
    /*width: 0.1px;*/
    /*height: 0.1px;*/
    /*opacity: 0;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*z-index: -1;*/
/*}*/