/* STYLE.CSS
 * =========
 *
 * EasyCursus, projet LO07
 * Allan Elleuch, Corentin Laithier
 *
 */

body {
    padding: 0;
    position: relative;
}


/* Barre de navigation principale
 * ==============================
 */
.bg-custom {
    background-color: #f5f5f5 !important;
}

.navbar {
    padding-bottom: 0;
}

/*.main-nav{*/
    /*text-align: center;*/
    /*padding: .8em;*/
    /*margin-bottom: 0;*/
    /*background-color: #f5f5f5;*/
/*}*/

.nav-item{
    padding-left: .5em;
    padding-right: .5em;
    margin-left: .5em;
    margin-right: .5em;
    border-bottom: 2px solid transparent;
    color: #777;
}

.my-nav-item:hover{
    border-bottom: 2px solid rgb(193, 193, 193);
    text-decoration: none;
    color: #000;
}
.my-nav-item.active{
    border-bottom: 2px solid #5cb85c;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}






/* Barre de navigation secondaire
 * ==============================
 */
.sub-nav{
    display: block;
    text-align: center;
    padding: .8em;
    font-size: 0.9em;
    background-color: #ebebeb;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
}
.sub-nav-item{
    padding-bottom: .9em;
    padding-left: .9em;
    padding-right: .9em;
    color: #777;
}
.sub-nav-item:hover{
    /*border-bottom: 2px solid rgb(193, 193, 193);*/
    text-decoration: none;
    color: black;
}
.sub-nav-item.active{
    /*border-bottom: 2px solid #5cb85c;*/
    text-decoration: none;
    color: #5cb85c;
    font-weight: 500;
}


/* Tableaux
 * ========
 */
.thead-default th{
    background-color: #fafafa;
    font-weight: 500;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2 !important;
}

.table td{
    font-size: .9em;
    vertical-align: inherit;
    border-top: 1px solid #e2e2e2;
}

.grey{
    color: #777;
}

.badge {
    font-size: 100%;
}

.badge-tc{
    color: #000;
    font-weight: 400;
    background-color: #F3E5F5;
}

.badge-tcbr{
    color: #000;
    font-weight: 400;
    background-color: #E8F5E9;
}

.badge-flbr{
    color: #000;
    font-weight: 400;
    background-color: #FFF3E0;
}

.badge-br{
    color: #000;
    font-weight: 400;
    background-color: #E0F7FA;
}


/* ScrollSpy sur l'affichage d'un cursus
 * =====================================
 */

#scrollspyToC{
    position: fixed;
    padding-left: 0;
}

#scrollspyToC li {
    margin: 0;
    padding: 0;
}

#scrollspyToC .nav-link{
    color: #777;
    margin: .2em;
    padding: .2em;
    padding-left: .5em;
    border-left: 2px solid transparent;

}

#scrollspyToC .nav-link:hover{
    color: #000;
    border-left: 2px solid #000;

}

#scrollspyToC .nav-link.active{
    color: #5cb85c;
    font-weight: 500;
    border-left: 2px solid #5cb85c;
}



/*
 * List customisation
 * ==================
 */
.elemFormation{
    padding: 0;
    list-style-type: none;
}


/*
 * Pre, Code
 */
pre {
    white-space: pre-line;
    padding-left: 1em;
    border-radius: .2em;
    border-left: 4px solid #777;
    background-color: #efefef;
}